
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
h1 {

    text-align: center;
    color : #41045e;
    font-size: xx-large;

} 

h2 {

    text-align: center;
    color : #41045e;
    font-size: x-large;
    

} 
h3 {

    text-align: center;
    color : #41045e;
    font-size: x-large;

}


.show {
    color: white;
    text-align: center;
    font-size: large;
  }

  
.show2 {
    color: rgb(92, 2, 77);
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.show3 {
    color: white;
    text-align: center;
    font-size: large;
}
.select {

    text-align: center;
    background:rgb(142, 22, 255);
    border:1px solid white;
    color:white;
    width: auto;
    height: 30px;
 
    
}



.product {

    display: inline-block;
    color: white;
    font-weight: bold;
    text-indent: 50px;
    width: 49%;
    margin-right: 1%;
    margin: 10px;

}
  
.product:nth-child(even) {
    margin-right: 0;
}

footer {
    text-align: center;
}

body {

    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 38%, rgba(175,148,233,1) 100%);
    font-family: Verdana (sans-serif);
  }